<h1>Player 1: <%= session[:name] %></h1>
<pre><%= $game.own_board_view($game.player_1) %></pre>
<pre><%= $game.opponent_board_view($game.player_1) %></pre>
<form method='post'>
  <label>Please enter a target:
    <input type='text' name='coordinate'>
  </label>
  <input type='submit' value='Fire!'>
</form>
<%= @result %>